html{
    min-width: 300px;
}
body{
  display: grid;
  grid-template-columns:
    [left] 15rem 1fr [right];
  grid-template-rows:
    [top] 8rem auto auto 5rem[bottom];
  grid-template-areas:
    "head head"
    "panleft abstract"
    "mainbody mainbody"
    "foot foot"
}

a{
  color: inherit;
}

header{
  grid-area: head;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.navbar a{
  padding: 0 10%;
}


aside {
  margin: 1rem;
  padding: 1em 1em;
  justify-content: center;
  grid-area: panleft;
}

aside h{
  text-align: center;
}

.abstract {
  margin: 0rem 1rem;
  text-align: justify;
  grid-area: abstract;
}

.mainbody{
  margin: 0rem 1rem;
  text-align: justify;
  grid-area: mainbody;
}

footer{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);

  height: 5rem;
  width: 100vw;

  font-size: smaller;
  text-align: center;
  overflow-wrap: break-word;
}

div.game{
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 40rem) {
  body {
    grid-template-columns:
      [left] 2fr 2fr [right];
    grid-template-rows:
      [top] 8rem auto auto auto 5rem[bottom];
    grid-template-areas:
      "head head"
      "nav nav"
      "abstract abstract"
      "mainbody mainbody"
      "foot foot"
  }

  aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: nav;
  }

  .abstract {
    text-align: center;
    grid-column-start: left;
    grid-column-end: right;
  }

  .mainbody {
    grid-column-start: left;
    grid-column-end: right;
  }
}
