body{
  color: beige;
  background: #111;
  font-family: monospace;
}

a{
  color: inherit;
}

header{
  color: orangered;
}

header h1{
  padding: 0.75em;
  background-image: url(pix/logo.jpeg);
  background-size: 22%;
  background-repeat: repeat;
  background-position: center;
}

header mark{
  color: inherit;
    background-color: rgba(17,17,27,0.6)
}

.navbar {
  color: grey;
}

article{
  border-bottom: grey thin dashed;
}

aside {
  border: orangered;
  border-width: thin;
  border-style: dotted;
}

aside h{
  color: orangered;
}

@media (prefers-color-scheme: light) {
  body{
    color: #111;
    background: white;
    font-family: monospace;
  }

  header mark{
    background-color: rgba(255,255,255,0.6)
  }

  a{
    color: inherit;
  }

  header{
    color: orangered;
  }

  .navbar {
    color: grey;
  }

  article{
    border-bottom: grey thin dashed;
  }

  aside {
    border: orangered;
    border-width: thin;
    border-style: dotted;
  }

  aside h{
    color: orangered;
  }
}
