body{
  color: beige;
  background: #111;
  font-family: monospace;

  min-height: 25rem;
  display: grid;

  grid-template-columns:
    [left] 10rem auto [right];
  grid-template-rows:
    [top] 6rem auto auto 6rem [bottom];
  grid-template-areas:
    "head head"
    "panleft abstract"
    "mainbody mainbody"
    "down down";
}

a{
  color: inherit;
}

header{
  grid-area: head;
  text-align: center;
  color: orange;
}

.navbar {
  display: flex;
  justify-content: space-around;
  color: grey;
}

.navbar a{
  padding: 0 10%;
}

.abstract article{
  border-bottom: none;
}

article{
  border-bottom: grey thin dashed;
}

aside {
  border: orange;
  border-width: thin;
  border-style: dotted;
  margin: 1em;
  padding: 1em 1em;
  justify-content: center;
  grid-area: panleft;
}

aside h{
  text-align: center;
  color: orange;
}

.abstract {
  margin: 0rem 1rem;
  text-align: justify;
  grid-area: abstract;
}

.mainbody{
  margin: 0rem 1rem;
  text-align: justify;
  grid-area: mainbody;
}

footer{
  grid-area: down;
  text-align: center;
}

@media screen and (max-width: 40rem) {
  body {
    grid-template-columns:
      [left] auto [right];
    grid-template-rows:
      [top] 6rem auto auto auto 6rem [bottom];
    grid-template-areas:
      "head"
      "nav"
      "abstract"
      "mainbody"
      "down";
  }

  aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: nav;
  }

  .abstract {
    text-align: center;
    grid-column-start: left;
    grid-column-end: right;
  }

  .mainbody {
    grid-column-start: left;
    grid-column-end: right;
  }
}
