body{
  min-width: 800px;
}

.mainbody{
  text-align: center;
}

.buysteal{
  display: flex;
  justify-content: center;
  align-items: center;
}

.buysteal button{
  margin: 1em;
}

#buy{
  background-color: green;
}

#steal{
  background-color: red;
}

#bought{
  display: none;
}

#stolen{
  display: none;
}

#board{
  display:none;
}
