body{
  min-width: 800px;
}

.mainbody{
  text-align: center;
}

.buysteal{
  display: flex;
  justify-content: center;
  align-items: center;
}

.buysteal button{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  margin: 1em;
}

#buy{
  background-color: green;
}

#steal{
  background-color: red;
}

#bought{
  display: none;
}

#stolen{
  display: none;
}

#board{
  display:none;
}


footer{
  position: relative;
  grid-area: foot;
}
